<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fabiocarvalho.scruiz">

    <application
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:appComponentFactory">

        <!-- TODO Verficar: RETIRADO:   android:theme="@style/AppTheme" -->


        <!-- PRINCIPAL -->
        <activity
            android:name=".ScruizActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".quiz.InicialTesteActivity"/>

        <!-- CHOOSER - ROTEADOR PARA LOGIN Google / E-mail / Anonimo -->
        <activity
            android:name=".authenticator.ChooserActivity"
            android:parentActivityName=".quiz.InicialTesteActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".quiz.InicialTesteActivity" />
        </activity>
        <!-- GOOGLE -->
        <activity
            android:name=".authenticator.GoogleActivity"
            android:parentActivityName=".authenticator.ChooserActivity" />
        <!-- E-MAIL -->
        <activity android:name=".authenticator.EmailActivity" />
        <!-- ANONIMO -->
        <activity android:name=".authenticator.LoginAnonimoActivity" />

    </application>

</manifest>